/*--------------------
 .admit
-------------------- */
@use "../foundation/import" as get;

.admit {
    &Wrap {
        @extend %w-content;

        @include get.pc {
            margin-top: 64px;
        }

        @include get.sp {
            margin-top: 39px;
        }

        & img {
            width: 100%;
            height: 55px;
        }
    }
}