/* --------------------
 .mv
-------------------- */
@use "../foundation/import" as get;

.mv {

    &Wrap {
        @extend %w-content;
        @include get.sp {
            padding: unset;
        }
            & img {
            width: 100%;
            height: 100%;
        }
    }
}