/*--------------------
 .promoMats
-------------------- */
@use "../foundation/import" as get;

.promoMats {
    &Wrap {
        @extend %w-content;
        padding-bottom: 3px;

        @include get.sp {
            padding: 0 1%;
            padding-bottom: 3px;
        }

        & p {
            font-size: 14px;
            color: #000;
            text-align: right;

            @include get.sp {
                font-size: 12px;
                text-align: center;
            }
        }
    }
}