/* --------------------
 .header
-------------------- */
@use "../foundation/import" as get;

.header {
    position: relative;

    &Wrap {
        @extend %w-content;
        width: 100%;
        display: flex;
        align-items: center;

        @include get.pc {
            min-height: 119px;
            a{
                transition: 0.3S;
                &:hover{
                    opacity: 0.7;
                }
            }
        }

        @include get.sp {
            min-height: 74px;
        }

        & img {
            @include get.pc {
                width: 75px;
                height: 39px;
            }

            @include get.sp {
                width: 50px;
                height: 26px;
            }
        }
    }

}