/* global/_haeder.scss
-------------------------------------------------- */
@use "../foundation/import" as get;

.g-header {
    position: relative;

    &__wrap {
        @extend %w-content;
        width: 100%;
        display: flex;
        align-items: center;

        @include get.pc {
            min-height: 119px;
        }

        @include get.sp {
            min-height: 74px;
        }

        & img {
            @include get.pc {
                width: 75px;
                height: 39px;
            }

            @include get.sp {
                width: 50px;
                height: 26px;
            }
        }
    }

}