/*--------------------
 .main
-------------------- */
@use "../foundation/import" as get;

.main {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    color: #3B66A2;
    @include get.pc {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    @include get.sp {
        background: url(../img/bg-sp.jpg);
        background-size: cover;
        background-repeat: no-repeat;    
    }

    &Lead {
        /* 中見出し */
        text-align: center;
        & h2 {
            font-weight: 600;
            letter-spacing: 0.03em;

            @include get.pc {
                font-size: 36px;
                margin-top: 46px;
                margin-bottom: 36px;
            }

            @include get.sp {
                font-size: 26px;
                line-height: 1.36;
                margin-top: 30px;
                margin-bottom: 26px;
            }
        }
        

        & p {
            font-size: 18px;
            letter-spacing: 0.078em;
            line-height: 1.53;
            font-weight: 500;

            & span {
                letter-spacing: 0.08em;

                @include get.pc {
                    font-size: 15px;
                    display: block;
                }

                @include get.sp {
                    font-size: 12px;
                    display: block;
                }
            }
        }
        &Admit1{
            margin-bottom: 29px;
            & p{
                margin-bottom: 10px;
            }
        }
    }
}